n8n-backups/backup_20250807_000712/Analyst_SW_5qGgycw6kU75q3I8.json
{
  "createdAt": "2025-07-29T15:32:12.083Z",
  "updatedAt": "2025-07-29T19:00:47.000Z",
  "id": "5qGgycw6kU75q3I8",
  "name": "Analyst_SW",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "analyst_input",
      "name": "Analyst Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "functionCode": "// Prepare analyst input\nconst input = items[0].json;\nreturn [{\n  json: {\n    implementation: input.implementation,\n    modelName: input.modelName,\n    memoryKey: input.memoryKey\n  }\n}];"
      }
    },
    {
      "id": "analyst_llm",
      "name": "Analyst LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        300,
        100
      ],
      "parameters": {
        "workflowId": "lLOiPevOcAHJILQ8",
        "options": {
          "waitForCompletion": true
        },
        "input": "={{\n  {\n    prompt: \"Analyze this implementation: \" + JSON.stringify($json.implementation) + \". Provide: 1) Fitness score (0-1), 2) Signal loss analysis, 3) Benchmark comparison, 4) Top insight for improvement. Return JSON with: fitness, signalLoss, benchmarkScore, llmScore, topInsight.\",\n    modelName: $json.modelName,\n    systemMsg: \"You are an Analyst AI agent. Evaluate the implementation and provide actionable insights with quantified scores.\",\n    memoryKey: $json.memoryKey\n  }\n}}"
      }
    },
    {
      "id": "analyst_output",
      "name": "Analyst Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "parameters": {
        "functionCode": "// Format analyst output\nconst result = items[0].json;\nif (!result.success) {\n  return [{\n    json: {\n      success: false,\n      error: result.error,\n      role: \"analyst\"\n    }\n  }];\n}\n\nconst response = JSON.parse(result.response || '{}');\nreturn [{\n  json: {\n    success: true,\n    fitness: response.fitness || 0.5,\n    signalLoss: response.signalLoss || 0.8,\n    benchmarkScore: response.benchmarkScore || 0.7,\n    llmScore: response.llmScore || 0.9,\n    topInsight: response.topInsight || \"Analysis completed\",\n    response: result.response\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Analyst Input": {
      "main": [
        [
          {
            "node": "Analyst LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst LLM": {
      "main": [
        [
          {
            "node": "Analyst Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "9cb2e04b-fd83-447b-bc63-626767f59ca1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-29T15:32:12.085Z",
      "updatedAt": "2025-07-29T15:32:12.085Z",
      "role": "workflow:owner",
      "workflowId": "5qGgycw6kU75q3I8",
      "projectId": "dfihSMO24GNVuIpM",
      "project": {
        "createdAt": "2025-06-02T01:49:12.943Z",
        "updatedAt": "2025-06-03T17:01:34.876Z",
        "id": "dfihSMO24GNVuIpM",
        "name": "guillaume bolivard <guillaumebolivard@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-02T01:49:12.944Z",
            "updatedAt": "2025-06-02T01:49:12.944Z",
            "role": "project:personalOwner",
            "userId": "7bcd283c-9587-46b0-b078-91f3217e06b7",
            "projectId": "dfihSMO24GNVuIpM",
            "user": {
              "createdAt": "2025-06-02T01:49:12.554Z",
              "updatedAt": "2025-07-28T18:29:17.351Z",
              "id": "7bcd283c-9587-46b0-b078-91f3217e06b7",
              "email": "guillaumebolivard@gmail.com",
              "firstName": "guillaume",
              "lastName": "bolivard",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-03T17:01:45.849Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "IMfYaRPSuI74c7Ep",
                "userActivatedAt": 1753375680028,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753727350221
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}