n8n-backups/backup_20250807_000712/My_workflow_6iUN61Fv1ByTM5Oo.json
{
  "createdAt": "2025-07-19T15:50:00.863Z",
  "updatedAt": "2025-07-19T15:50:00.863Z",
  "id": "6iUN61Fv1ByTM5Oo",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "633b13a9-1e4d-4487-a419-ca4fa88bac7e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1480,
        820
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "41a34e1b-3c0a-402d-82a0-cc57d110a9ec",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "e63a0817-d19b-42a8-8e53-a45012a0756f",
      "name": "List all tools for Bright Data",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        220,
        820
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "214e61a0-3587-453f-baf5-eac013990857",
              "name": "resume",
              "type": "string",
              "value": "I am Pechi, Senior Python Developer with 9+ years of experience."
            },
            {
              "id": "98c64f52-1564-4889-811d-39cac3951cc3",
              "name": "keywords",
              "type": "string",
              "value": "Python"
            },
            {
              "id": "34202143-4b07-4301-b5e9-767430952214",
              "name": "location",
              "type": "string",
              "value": "India"
            },
            {
              "id": "47d01515-302b-4a91-b9db-3af0033a56e1",
              "name": "job_search_base_url",
              "type": "string",
              "value": "https://www.linkedin.com/jobs/search/"
            }
          ]
        },
        "options": {}
      },
      "id": "3bc6e185-12f2-4853-9c5f-bb3dd8e8f012",
      "name": "Set the Input fields",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        820
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "1b65a620-0251-4dfb-8ed9-d253ce4de144",
      "name": "Bright Data MCP Client For Jobs Extraction",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        660,
        820
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "credentials": {},
      "notes": "Scrape a single webpage URL with advanced options for content extraction and get back the results in MarkDown language."
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "2ed3f7df-229c-40b8-8b3a-3690bd5f7305",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1260,
        820
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d60c316f-d981-4be4-a4bb-5fb4e845c6f7",
      "name": "Bright Data MCP Client For Jobs Extraction within a Loop",
      "type": "n8n-nodes-mcp.mcpClient",
      "position": [
        1700,
        700
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "credentials": {},
      "notes": "Scrape a single webpage URL with advanced options for content extraction and get back the results in MarkDown language."
    },
    {
      "parameters": {
        "text": "=Extract the job description in a textual format\n\nHere's the content: {{ $json.result.content[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "job_description",
              "description": "Job Description"
            }
          ]
        },
        "options": {}
      },
      "id": "0754d7bf-ad5d-4c68-818c-449bffee79d5",
      "name": "Job Desc Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1920,
        700
      ],
      "retryOnFail": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, you are a helpful job matcher, you analyze the given resume and job description and providing a job matching skills and score in a JSON format.\n\nHere's the Resume:\n{{ $('Set the Input fields').item.json.resume }}\n\nHere's the Job Desc:\n\n{{ $json.output.job_description }}",
        "hasOutputParser": true
      },
      "id": "3c06bf0d-ec89-4bf6-b3b0-b282a1f19afb",
      "name": "AI Job Match",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2300,
        700
      ],
      "retryOnFail": true,
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"job_match_analysis\": {\n    \"resume_summary\": \"Senior Python Developer with 9+ years of experience.\",\n    \"job_description_summary\": \"Seeking a developer with expertise in Sagemaker, Python, and LLM. The role involves client interaction, requirements understanding, design review, architecture validation, and team leadership.\",\n    \"skill_match\": [\n      {\n        \"skill\": \"python\",\n        \"resume\": \"Strong match - explicitly mentioned as core skill.\",\n        \"job_description\": \"Strong match - listed as a primary skill.\",\n        \"score\": 100\n      },\n      {\n        \"skill\": \"sagemaker\",\n        \"resume\": \"No match - not mentioned in the resume.\",\n        \"job_description\": \"Strong match - listed as a primary skill.\",\n        \"score\": 0\n      },\n      {\n        \"skill\": \"llm\",\n        \"resume\": \"No match - not mentioned in the resume.\",\n        \"job_description\": \"Strong match - listed as a primary skill.\",\n        \"score\": 0\n      },\n      {\n        \"skill\": \"leadership\",\n        \"resume\": \"Implicit match - Senior role implies leadership experience.\",\n        \"job_description\": \"Explicit match - requires leading and guiding teams.\",\n        \"score\": 75\n      },\n      {\n        \"skill\": \"client_interaction\",\n        \"resume\": \"No explicit mention, inferred from senior role.\",\n        \"job_description\": \"Explicit match - requires interfacing with clients.\",\n        \"score\": 50\n      }\n    ],\n    \"overall_match_score\": 45,\n    \"rationale\": \"The candidate's core skill (Python) is a strong match. The resume implies leadership skills, aligning with the job's team leadership requirements. However, the absence of Sagemaker and LLM experience significantly lowers the overall score. The candidate needs to demonstrate experience in these areas for a higher match.\",\n    \"recommendations\": [\n      \"Highlight any experience (even if limited) with Sagemaker or LLMs in the resume.\",\n      \"Quantify Python experience with specific projects and technologies used.\",\n      \"Emphasize any client-facing experience or responsibilities in previous roles.\",\n      \"Showcase leadership experience with specific examples (e.g., mentoring junior developers, leading project teams).\"\n    ]\n  }\n}\n"
      },
      "id": "b7699ca9-6da3-478e-a472-c0dc3cb193b6",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2460,
        900
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "functionCode": "items[0].binary = {\n  data: {\n    data: new Buffer(JSON.stringify(items[0].json, null, 2)).toString('base64')\n  }\n};\nreturn items;"
      },
      "id": "186f745d-98e1-4346-8997-56f6685e8549",
      "name": "Create a binary data for AI Job Match",
      "type": "n8n-nodes-base.function",
      "position": [
        2680,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://webhook.site/7b5380a0-0544-48dc-be43-0116cb2d52c2",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_match_response",
              "value": "={{ $json.output.job_match_analysis.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e30fb59-da15-42b9-93b4-8e5675b85e28",
      "name": "Webhook Notification for AI Job Match",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2680,
        920
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Disclaimer\nThis template is only available on n8n self-hosted as it's making use of the community node for MCP Client.",
        "height": 120,
        "width": 440
      },
      "id": "1147e217-ae90-4b49-8118-1614a6a99593",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## LLM Usages\n\nOpenAI 4o mini LLM is being utilized for the structured data extraction handling.",
        "height": 220,
        "width": 440,
        "color": 5
      },
      "id": "bf3a5bfb-05d9-4718-b89e-d096173fdf9f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Bright Data MCP Job Extract via Job Listings\nExtract job information via BrightData MCP and then perform the AI Job matching by utilizing the OpenAI GPT 4o mini LLM",
        "height": 620,
        "width": 1660,
        "color": 3
      },
      "id": "1e8fae84-887c-4119-ac03-5d62f338ad96",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1380,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Logo\n\n\n![logo](https://images.seeklogo.com/logo-png/43/1/brightdata-logo-png_seeklogo-439974.png)\n",
        "height": 400,
        "width": 400,
        "color": 7
      },
      "id": "16091f23-ab8c-44d2-b557-a68a7b61253e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Note\n\nDeals with the LinkedIn profile data extraction by utilizing the Bright Data MCP and OpenAI GPT 4o LLM.\n\n**Please make sure to set the input fields node with the LinkedIn profile URL with the resume, location, keywords etc.\n\nPlease make sure to update the Webhook Notification URL of your interest**",
        "height": 320,
        "width": 400
      },
      "id": "fd543cbe-d38c-49fb-96e4-bc1d403e253e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "9d1194c4-21fa-4eee-9c7e-19ef121f00b1",
      "name": "OpenAI Chat Model for Job Desc Extract",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2020,
        920
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "6562b836-46d7-41b0-8c27-868fa0cc12e9",
      "name": "OpenAI Chat Model for AI Job Match",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2300,
        900
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=d:\\Job-Match-{{$now.toSeconds()}}.json",
        "options": {}
      },
      "id": "7f79e309-8c92-4ebf-8593-e0ac4e079cd6",
      "name": "Write the AI job matched response to disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        2900,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=Extract all the job links from the provided content. \n\nHere's the content:  {{ $json.result.content[0].text }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"array\",\n\t\"properties\": {\n\t\t\"link\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}",
        "options": {}
      },
      "id": "4c7a4ff2-9060-4b3e-9980-d173728af7bc",
      "name": "Paginated Job Data Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        880,
        820
      ],
      "retryOnFail": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "88489fd2-353a-440a-84d2-cd2a1a98400b",
      "name": "OpenAI Chat Model for Paginated Job Extract",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        980,
        1040
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Job Match": {
      "main": [
        [
          {
            "node": "Create a binary data for AI Job Match",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Notification for AI Job Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Job Match",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Paginated Job Data Extractor": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Desc Information Extractor": {
      "main": [
        [
          {
            "node": "AI Job Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for AI Job Match": {
      "ai_languageModel": [
        [
          {
            "node": "AI Job Match",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a binary data for AI Job Match": {
      "main": [
        [
          {
            "node": "Write the AI job matched response to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Notification for AI Job Match": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for Job Desc Extract": {
      "ai_languageModel": [
        [
          {
            "node": "Job Desc Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for Paginated Job Extract": {
      "ai_languageModel": [
        [
          {
            "node": "Paginated Job Data Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "12644424-7459-420a-990d-2c73f1fbbb0e",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-19T15:50:00.871Z",
      "updatedAt": "2025-07-19T15:50:00.871Z",
      "role": "workflow:owner",
      "workflowId": "6iUN61Fv1ByTM5Oo",
      "projectId": "dfihSMO24GNVuIpM",
      "project": {
        "createdAt": "2025-06-02T01:49:12.943Z",
        "updatedAt": "2025-06-03T17:01:34.876Z",
        "id": "dfihSMO24GNVuIpM",
        "name": "guillaume bolivard <guillaumebolivard@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-02T01:49:12.944Z",
            "updatedAt": "2025-06-02T01:49:12.944Z",
            "role": "project:personalOwner",
            "userId": "7bcd283c-9587-46b0-b078-91f3217e06b7",
            "projectId": "dfihSMO24GNVuIpM",
            "user": {
              "createdAt": "2025-06-02T01:49:12.554Z",
              "updatedAt": "2025-07-28T18:29:17.351Z",
              "id": "7bcd283c-9587-46b0-b078-91f3217e06b7",
              "email": "guillaumebolivard@gmail.com",
              "firstName": "guillaume",
              "lastName": "bolivard",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-03T17:01:45.849Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "IMfYaRPSuI74c7Ep",
                "userActivatedAt": 1753375680028,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753727350221
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}