n8n-backups/backup_20250807_000712/My_workflow_4_OhA1drVDcAu155Du.json
{
  "createdAt": "2025-07-22T15:17:47.355Z",
  "updatedAt": "2025-07-22T15:17:47.355Z",
  "id": "OhA1drVDcAu155Du",
  "name": "My workflow 4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d14a1e08-a735-4150-905f-c8abe3096e04"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        0
      ],
      "id": "b82064e4-196b-4ee3-872e-565ca4330846",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "97cf4103-fec2-4857-bdde-358e1b0280f6",
      "name": "When chat message received",
      "webhookId": "276fdaf5-c72e-4956-9765-86b7f731b254"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        480,
        -160
      ],
      "id": "3bec04b9-74b0-465c-8249-968810b4addb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "5ecddc0e-20e7-4fd2-a768-1e6a0e2bb25c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        500,
        640
      ],
      "id": "a7b541f2-2d62-48f8-b680-af8ed6d0468a",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        980,
        40
      ],
      "id": "1783a0b7-f24c-4571-a725-37fa6feb09b9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ie8rgGVXzeaoIA51",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        640,
        20
      ],
      "id": "9bfdd5e7-e2bd-446b-96e3-936cf79b4756",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ie8rgGVXzeaoIA51",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        640,
        820
      ],
      "id": "8132c4c4-0447-4e89-b7a9-9598a963482f",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ie8rgGVXzeaoIA51",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        680,
        440
      ],
      "id": "bcb9c94a-beb3-41bc-a27d-30278a3aa5ba",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ie8rgGVXzeaoIA51",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "246bd906-d24a-4dd9-8f5d-663488f3bbff",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        40
      ],
      "id": "eb680506-4dbd-40df-b78c-7585b7fcb533",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1260,
        40
      ],
      "id": "69a9635c-7325-4466-9bcf-d885a670b590",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "functionCode": "const retries = $json.retries ?? 0;\nitem.retries = retries;\nreturn item;"
      },
      "id": "f338934a-cd0f-4dc8-88fe-83c4b1275b08",
      "name": "Init Vars",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        1740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "largerEqual",
              "value2": 400
            }
          ]
        }
      },
      "id": "5d164ae2-85d5-497e-b59a-b84496dc3733",
      "name": "IF 429/5xx ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        2000
      ]
    },
    {
      "parameters": {},
      "id": "66bf2cf7-57fd-4e42-a5b8-4f3d56e08866",
      "name": "Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1336,
        2000
      ],
      "webhookId": "647d5d8e-c798-44ec-9a68-640e34776567"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "61ce5135-4482-4f2d-88cb-2fdac611983a",
      "name": "Set retries++",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1556,
        2000
      ]
    },
    {
      "parameters": {
        "workflowId": "brain-hub-safe-llm-call-v1",
        "options": {}
      },
      "id": "7bc6cc56-369d-4358-a5d0-d327469aaec3",
      "name": "Retry Safe LLM Call",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1776,
        2000
      ]
    },
    {
      "parameters": {
        "functionCode": "const { total_tokens } = $json.usage ?? {};\nitem.tokens = total_tokens || 0;\nreturn item;"
      },
      "id": "45fd9578-002e-4392-9350-cc57ef08c4a7",
      "name": "Return & log",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1996,
        2000
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "your-sheet-id",
        "range": "token_log",
        "options": {}
      },
      "id": "61f7500c-e1b6-422f-8315-9ca11e04b71c",
      "name": "Log Tokens",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2216,
        2000
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "={{ $json.systemMsg }}"
        }
      },
      "id": "c239bd0c-198a-46f5-aa4b-3dbd68c75bc9",
      "name": "AI Agent4",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        720,
        2000
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Vars": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 429/5xx ?": {
      "main": [
        [
          {
            "node": "Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay": {
      "main": [
        [
          {
            "node": "Set retries++",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set retries++": {
      "main": [
        [
          {
            "node": "Retry Safe LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Safe LLM Call": {
      "main": [
        [
          {
            "node": "Return & log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return & log": {
      "main": [
        [
          {
            "node": "Log Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "IF 429/5xx ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1d1ea5b6-2c15-4420-83b9-720a63e870eb",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-22T15:17:47.389Z",
      "updatedAt": "2025-07-22T15:17:47.389Z",
      "role": "workflow:owner",
      "workflowId": "OhA1drVDcAu155Du",
      "projectId": "dfihSMO24GNVuIpM",
      "project": {
        "createdAt": "2025-06-02T01:49:12.943Z",
        "updatedAt": "2025-06-03T17:01:34.876Z",
        "id": "dfihSMO24GNVuIpM",
        "name": "guillaume bolivard <guillaumebolivard@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-02T01:49:12.944Z",
            "updatedAt": "2025-06-02T01:49:12.944Z",
            "role": "project:personalOwner",
            "userId": "7bcd283c-9587-46b0-b078-91f3217e06b7",
            "projectId": "dfihSMO24GNVuIpM",
            "user": {
              "createdAt": "2025-06-02T01:49:12.554Z",
              "updatedAt": "2025-07-28T18:29:17.351Z",
              "id": "7bcd283c-9587-46b0-b078-91f3217e06b7",
              "email": "guillaumebolivard@gmail.com",
              "firstName": "guillaume",
              "lastName": "bolivard",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-03T17:01:45.849Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "IMfYaRPSuI74c7Ep",
                "userActivatedAt": 1753375680028,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753727350221
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}