n8n-backups/backup_20250807_000712/Researcher_SW_ksg3fcQUeLBFdpcN.json
{
  "createdAt": "2025-07-29T15:30:24.227Z",
  "updatedAt": "2025-07-29T19:00:50.000Z",
  "id": "ksg3fcQUeLBFdpcN",
  "name": "Researcher_SW",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "researcher_input",
      "name": "Researcher Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "functionCode": "// Prepare researcher prompt\nconst input = items[0].json;\nreturn [{\n  json: {\n    prompt: input.prompt,\n    modelName: input.modelName,\n    systemMsg: input.systemMsg,\n    memoryKey: input.memoryKey\n  }\n}];"
      }
    },
    {
      "id": "researcher_llm",
      "name": "Researcher LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        300,
        100
      ],
      "parameters": {
        "workflowId": "lLOiPevOcAHJILQ8",
        "options": {
          "waitForCompletion": true
        },
        "input": "={{$json}}"
      }
    },
    {
      "id": "researcher_output",
      "name": "Researcher Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "parameters": {
        "functionCode": "// Format researcher output\nconst result = items[0].json;\nif (!result.success) {\n  return [{\n    json: {\n      success: false,\n      error: result.error,\n      role: \"researcher\"\n    }\n  }];\n}\n\nconst response = JSON.parse(result.response || '{}');\nreturn [{\n  json: {\n    success: true,\n    blueprint: response.blueprint || {},\n    model: response.model || \"gpt-4o-mini\",\n    complexity: response.complexity || 3,\n    rationale: response.rationale || \"\",\n    response: result.response\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Researcher Input": {
      "main": [
        [
          {
            "node": "Researcher LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Researcher LLM": {
      "main": [
        [
          {
            "node": "Researcher Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "63666c00-e8f0-4579-afed-ee564ab5b777",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-29T15:30:24.231Z",
      "updatedAt": "2025-07-29T15:30:24.231Z",
      "role": "workflow:owner",
      "workflowId": "ksg3fcQUeLBFdpcN",
      "projectId": "dfihSMO24GNVuIpM",
      "project": {
        "createdAt": "2025-06-02T01:49:12.943Z",
        "updatedAt": "2025-06-03T17:01:34.876Z",
        "id": "dfihSMO24GNVuIpM",
        "name": "guillaume bolivard <guillaumebolivard@gmail.com>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-02T01:49:12.944Z",
            "updatedAt": "2025-06-02T01:49:12.944Z",
            "role": "project:personalOwner",
            "userId": "7bcd283c-9587-46b0-b078-91f3217e06b7",
            "projectId": "dfihSMO24GNVuIpM",
            "user": {
              "createdAt": "2025-06-02T01:49:12.554Z",
              "updatedAt": "2025-07-28T18:29:17.351Z",
              "id": "7bcd283c-9587-46b0-b078-91f3217e06b7",
              "email": "guillaumebolivard@gmail.com",
              "firstName": "guillaume",
              "lastName": "bolivard",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-03T17:01:45.849Z",
                "personalization_survey_n8n_version": "1.94.1",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "IMfYaRPSuI74c7Ep",
                "userActivatedAt": 1753375680028,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753727350221
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}